version: '3.6'

x-common-environment: &common-environment
  DEBUG:
  BUILDKITE:
  BUILDKITE_BRANCH:
  BUILDKITE_BUILD_CREATOR:
  BUILDKITE_BUILD_NUMBER:
  BUILDKITE_BUILD_URL:
  BUILDKITE_JOB_ID:
  BUILDKITE_LABEL:
  BUILDKITE_MESSAGE:
  BUILDKITE_PIPELINE_NAME:
  BUILDKITE_PIPELINE_SLUG:
  BUILDKITE_REPO:
  BUILDKITE_RETRY_COUNT:
  BUILDKITE_STEP_KEY:
  MAZE_BUGSNAG_API_KEY:
  MAZE_APPIUM_BUGSNAG_API_KEY:
  MAZE_NO_FAIL_FAST:

services:
  license-finder:
    build:
      dockerfile: dockerfiles/Dockerfile.license-finder
      context: .
    volumes:
      - .:/scan

  browser-maze-runner-bb:
    image: 855461928731.dkr.ecr.us-west-1.amazonaws.com/maze-runner:tms-named-span-wait-cli
    environment:
      <<: *common-environment
      BITBAR_USERNAME:
      BITBAR_ACCESS_KEY:
      HOST: "${HOST:-maze-runner}"
      API_HOST: "${API_HOST:-maze-runner}"
      MAZE_REPEATER_API_KEY: "${MAZE_REPEATER_API_KEY_JS:-}"
      MAZE_HUB_REPEATER_API_KEY: "${MAZE_HUB_REPEATER_API_KEY_JS:-}"
      SKIP_BUILD_PACKAGES: 1
    networks:
      default:
        aliases:
          - maze-runner
    ports:
      - "9000-9499:9339"
      - "9000-9499:9340"
    volumes:
      - ./test/browser/maze_output:/app/maze_output
      - ./test/browser/features:/app/features
      - ./reports/:/app/reports/
      - /var/run/docker.sock:/var/run/docker.sock

  browser-maze-runner-bs:
    image: 855461928731.dkr.ecr.us-west-1.amazonaws.com/maze-runner:tms-implicit-wait-cli
    environment: &browser-maze-runner-environment
      <<: *common-environment
      BROWSER_STACK_USERNAME:
      BROWSER_STACK_ACCESS_KEY:
      HOST: "${HOST:-maze-runner}"
      API_HOST: "${API_HOST:-maze-runner}"
      MAZE_REPEATER_API_KEY: "${MAZE_REPEATER_API_KEY_JS:-}"
      MAZE_HUB_REPEATER_API_KEY: "${MAZE_HUB_REPEATER_API_KEY_JS:-}"
      SKIP_BUILD_PACKAGES: 1
    networks:
      default:
        aliases:
          - maze-runner
    volumes:
      - ./test/browser/maze_output:/app/maze_output
      - ./test/browser/features:/app/features
      - ./reports/:/app/reports/

  react-native-maze-runner:
    image: 855461928731.dkr.ecr.us-west-1.amazonaws.com/maze-runner-releases:latest-v10-cli
    environment:
      <<: *common-environment
      BITBAR_USERNAME:
      BITBAR_ACCESS_KEY:
      RN_VERSION:
      EXPO_VERSION:
      RCT_NEW_ARCH_ENABLED:
      REACT_NATIVE_NAVIGATION:
      NATIVE_INTEGRATION:
      MAZE_REPEATER_API_KEY: "${MAZE_REPEATER_API_KEY_RN:-}"
      MAZE_HUB_REPEATER_API_KEY: "${MAZE_HUB_REPEATER_API_KEY_RN:-}"
    ports:
      - "9000-9499:9339"
    networks:
      default:
        aliases:
          - maze-runner
    volumes:
      - ./build:/app/build
      - ./test/react-native/features/:/app/features
      - ./test/react-native/maze_output:/app/maze_output
      - /var/run/docker.sock:/var/run/docker.sock
      - ./reports/:/app/reports

  release:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.release
    environment:
      GITHUB_USER:
      GITHUB_ACCESS_TOKEN:
      RELEASE_BRANCH:
      RETRY_PUBLISH:
      FORCE_CDN_UPLOAD:
      AWS_ACCESS_KEY_ID:
      AWS_SESSION_TOKEN:
      AWS_SECRET_ACCESS_KEY:
      AWS_REGION:
      BUCKET_NAME:
      DISTRIBUTION_ID:
      VERSION:
    volumes:
      - ~/.gitconfig:/home/releaser/.gitconfig
      - ~/.npmrc:/home/releaser/.npmrc

networks:
  default:
    name: ${BUILDKITE_JOB_ID:-core-maze-runner}
