name: Record PR stats

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
    outputs:
      package-size:
        description: "The NPM package size"
        value: ${{ jobs.record-sizes.outputs.package-size }}
      unminified-size:
        description: "The unminified bundle size"
        value: ${{ jobs.record-sizes.outputs.unminified-size }}
      minified-size:
        description: "The minified bundle size"
        value: ${{ jobs.record-sizes.outputs.minified-size }}
      minified-gzip-size:
        description: "The minified bundle size after gzipping"
        value: ${{ jobs.record-sizes.outputs.minified-gzip-size }}
      code-coverage:
        description: "The code coverage report summary"
        value: ${{ jobs.record-sizes.outputs.code-coverage }}

jobs:
  record-sizes:
    runs-on: ubuntu-latest

    outputs:
      package-size: ${{ steps.package.outputs.result }}
      unminified-size: ${{ steps.unminified.outputs.size }}
      minified-size: ${{ steps.minified.outputs.size }}
      minified-gzip-size: ${{ steps.minified-gzip.outputs.size }}
      code-coverage: ${{ steps.code-coverage.outputs.result }}

    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0
        with:
          ref: ${{ inputs.ref }}

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 18
          cache: 'npm'

      - run: npm ci
      - run: npm run build
      - run: npm run test:coverage

      - id: package
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            let json = ''

            await exec.exec(
              'npm',
              ['pack', './packages/platforms/browser', './packages/core', './node_modules/@bugsnag/cuid', '--json'],
              {
                listeners: {
                  stdout (data) { json += data }
                }
              }
            )

            return JSON.parse(json).reduce((sum, package) => sum + package.unpackedSize, 0)

      - id: unminified
        run: |
          SIZE="$(wc -c < build/bugsnag-performance.js)"
          echo "Un-minified bundle size: $SIZE bytes"
          echo "size=$SIZE" >> $GITHUB_OUTPUT

      - id: minified
        run: |
          SIZE="$(wc -c < build/bugsnag-performance.min.js)"
          echo "Minified bundle size: $SIZE bytes"
          echo "size=$SIZE" >> $GITHUB_OUTPUT

      - id: minified-gzip
        run: |
          SIZE="$(gzip < build/bugsnag-performance.min.js | wc -c)"
          echo "Gzipped bundle size: $SIZE bytes"
          echo "size=$SIZE" >> $GITHUB_OUTPUT

      - id: code-coverage
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            return require('./coverage/coverage-summary.json')

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: packages-${{ inputs.ref }}
          path: |
            bugsnag-*.tgz

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: bundles-${{ inputs.ref }}
          path: |
            build/bugsnag-performance.js
            build/bugsnag-performance.min.js
